<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Допущены ошибки!
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>

      <% case msg %>
        <% when "Password can't be blank" %>
          <li> * Пароль не может быть пустым </li>
        <% when "Password confirmation doesn't match Password" %>
          <li> * Пароли не совпадают </li>
      <% else %>
        <li> * <%= msg %></li>
      <% end %>

    <% end %>
    </ul>
  </div>
<% end %>
