<% if @ducat.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Допущены ошибки!
    </div>
    <ul>
    <% @ducat.errors.full_messages.each do |msg| %>
        <li> * <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
