<footer class="footer">
  <small>
    <a> <%= link_to "NUMIZARD", root_path %> </a>
    by Russian-Guy
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
