<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">

      <%= favicon_link_tag 'gold_angel_1475.png' %>
      <nav>
        <ul class="nav pull-left">
          <li class="active"><%= link_to "#{image_tag("gold_angel_1475.png", size: "25")} NUMIZARD ".html_safe, root_path %></li>          
          <li><%= link_to("Help",    help_path)%></li>
          <li><%= link_to("Sign_in", sign_in_path) %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
